/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  /* max-width: 100%; */
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Elbert's Base CSS // mobile first
*/
html,
body {
  background: #24282e;
  color: #dcdcdc;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.05em;
}

h1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
}

h2 {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1.5em;
  text-transform: uppercase;
}

h3 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 200;
}

h4 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 200;
}

p {
  color: #dcdcdc;
  font-weight: 200;
  margin: 1em 0 1em 0;
}

a {
  color: #ba94c8;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;

  width: 100vw;
  padding: 12px;
  line-height: 1;

  background: #1d1f20dd;
  overflow-y: hidden;

  z-index: 1000;
}

header::-webkit-scrollbar {
  display: none;
}

header ul {
  margin-top: 5px;
  margin-left: 24px;
  height: 1.2em;
  white-space: nowrap;
  overflow-y: scroll;
}

header li {
  display: inline-block;
  margin: 0 0.3rem 0 0.2rem;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.7rem;
}

header li a {
  color: inherit;
}

header li a.on {
  color: gold;
}

header .logo {
  width: 160px;
  cursor: pointer;
}

section {
  overflow: hidden;
}

section > div {
  /* background: rgba(255, 255, 0, 0.1); */
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: relative;
}

section.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d1f21;
  background-image: url(/img/bg-header.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 900px auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* mheight: 60vh; */
}

section.masthead img.lenses {
  width: 100%;
  margin: 100px auto 30px;
}

section.proyecto > div {
  padding-top: 3em;
  padding-bottom: 0;
}

section.proyecto h2 {
  font-size: 1.2em;
  margin-top: 0.25rem;
}

section.proyecto img.trio {
  width: 70%;
  max-width: 600px;
  margin: 40px auto 0;
}

section.otros-proyectos {
  background: #1E2022;
  background-image: url(/img/bg-header.png);
  background-position: center bottom;
  /* background-repeat: no-repeat; */
  background-size: 500px auto;
  padding: 50px 0;
}

section.sergio {
  background-color: #1b1c1d;
}
section.sergio > div {
  padding-top: 3em;
  padding-bottom: 3em;
}

section.sergio img.sergio {
  float: right;
  width: 46%;
  margin: 0 -5em 0 -2em;
}

section.romina {
  background-color: #32363c;
}
section.romina > div {
  padding-top: 2em;
  padding-bottom: 0;
}

section.romina img.romina {
  float: right;
  width: 200px;
  margin: 0 -5em 0 -2em;
}

section.contactanos {
  text-align: center;
}

section.contactanos > div {
  padding-top: 5em;
  padding-bottom: 5em;
}

section.contactanos .cta {
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(138, 253, 44);
}

section.contactanos .social-icon {
  display: inline-block;
  margin: 0.5em;
  opacity: 0.75;
  width: 40px;
}

footer {
  text-align: center;
  padding: 1em 1em 3em;
  color: #f5f6fc;
  font-size: 0.75rem;
  opacity: 0.4;
}

/* ------- Media Queries ------- */

/* phone portrait */
@media (max-width: 767px) {
  html,
  body {
    font-size: 16px;
  }
  section.masthead > div {
    height: 65vh;
    min-height: 390px;
    max-height: 700px;
  }
  section.sergio > div {
    padding-top: 2em;
  }
  section.sergio img.sergio {
    margin-top: 0.5em;
    margin-right: -6em;
    margin-left: -1em;
    width: 260px;
  }
  section.romina > div {
    padding-top: 2em;
  }
  section.romina img.romina {
    margin-top: 3em;
    margin-right: -6em;
    margin-left: -1em;
    width: 240px;
  }
}

/* ipad portrait */
@media (min-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
  section > div {
    width: 720px;
    margin: 0 auto;
  }
  section.masthead > div {
    height: 540px;
  }
  section.proyecto img.trio {
    /* width: 420px; */
    /* margin-right: 3em; */
  }
  section.sergio img.sergio {
    width: 420px;
    margin-top: -7em;
    margin-right: -7em;
    margin-left: -0.5em;
  }
  section.romina img.romina {
    width: 428px;
    margin-top: 2.5em;
    margin-right: -9em;
    margin-left: -4em;
  }
}

/* ipad landscape | laptop */
@media (min-width: 1020px) {
  html,
  body {
    font-size: 20px;
  }
  section > div {
    width: 980px;
    margin: 0 auto;
  }
  section.masthead > div {
    height: 640px;
  }
  section.masthead .la-gesta {
    font-size: 4em;
    padding-top: 0.85em;
    margin-bottom: 3em;
  }
  section.masthead img.hero {
    height: 580px;
    right: -2.5em;
    bottom: -1em;
  }
  section.sergio img.sergio {
    width: 450px;
    margin-right: -6em;
    margin-left: -1em;
  }
  section.romina img.romina {
    width: 440px;
    margin-top: 1em;
    margin-right: -7em;
    margin-left: 0em;
  }
  section.contactanos .cta {
    font-size: 64px;
  }
}
